#!/bin/sh

export XDG_CONFIG_HOME="$HOME/.config"
export PATH="$HOME/.local/bin:$PATH"
export QT_QPA_PLATFORMTHEME=qt5ct

# Screen
xrandr --display :0 --output DisplayPort-0 --set "scaling mode" "Center" &
xset -dpms &
# picom -b &
wal -R &



nm-applet &
# nitrogen --restore &
#/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
#gnome-keyring-daemon --start --components=pkcs11 &
#kdeconnect-indicator & 
tilda &

# alacritty --class "__scratchpad" -e vim ~/scratchpad.adoc &
#ksuperkey -e 'Super_L=Alt_L|F1' &
#ksuperkey -e 'Super_R=Alt_L|F1' &

# Keyboard
setxkbmap de -variant deadacute -option compose:caps &
numlockx & 
xset r rate 350 60 & # faster keyboard bounce
# barrier & 


